@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

// Parent Component
.Token-Selector {
  position: relative;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
  width: 100%;

  .select-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    select {
      background-color: transparent;
      border: 1px solid #00ffc4;
      width: 100%;
      height: 3.5rem;
      padding-left: 0.75rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #00ffc4;

      @media (max-width: 768px) {
        height: 3rem;
        padding-left: 0.6rem;
      }

      @media (max-width: 480px) {
        height: 2.5rem;
        padding-left: 0.5rem;
        font-size: 14px;
      }

      &:disabled {
        pointer-events: none;
      }

      &:hover {
        border: 2px solid #4fff4b;
      }

      option {
        background-color: rgb(28, 28, 28);
        border: 1px solid #00ffc4;
      }
    }

    .custom-arrow {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      width: 1rem;
      height: 3rem;

      @media (max-width: 768px) {
        right: 0.8rem;
        height: 2.5rem;
      }

      @media (max-width: 480px) {
        right: 0.6rem;
        height: 2rem;
      }

      &::before,
      &::after {
        --size: 0.4rem;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &::before {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid #4fff4b;
      }
    }
  }

  .custom-tooltip {
    position: absolute;
    right: -2rem;
    top: -6rem;
    color: #fff;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 3rem;
    letter-spacing: 0.5px;
    height: 9rem;
    width: 14rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../../assets/images/icons/Tooltip.svg");

    @media (max-width: 768px) {
      font-size: 10px;
      width: 12rem;
      height: 8rem;
      right: -1.5rem;
      top: -5rem;
    }

    @media (max-width: 480px) {
      font-size: 9px;
      width: 10rem;
      height: 7rem;
      right: -1rem;
      top: -4rem;
      padding-top: 2.5rem;
    }
  }
}