.BasicCardHeader {
  margin-top: 6rem;
  margin-left: 3rem;
  border-width: 2px;
  border-image: linear-gradient(141deg, rgb(0, 255, 196), rgba(86, 86, 86, 0)) 1;
  background-image: linear-gradient(
    90deg,
    rgba(28, 28, 28, 0.79),
    rgba(18, 18, 18, 0.79)
  );
  align-self: center;
  font-family: "Roboto Mono", monospace;
  color: #00ffc4;
  font-size: 15px;

  width: 30rem;
  padding: 0.5rem;
  padding-left: 1rem;
  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 2rem;
  }
  @media screen and (max-width: 480px) {
    width: 22rem;
    margin-left: 0rem;
    margin-top: 2rem;
  }
}
