.BasicCard {
  margin-top: 1rem;
  margin-left: 3rem;
  border-width: 2px;
  border-image: linear-gradient(141deg, rgb(0, 255, 196), rgba(86, 86, 86, 0)) 1;
  background-image: linear-gradient(
    90deg,
    rgba(28, 28, 28, 0.79),
    rgba(18, 18, 18, 0.79)
  );
  align-self: center;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 15px;

  width: 30rem;
  padding-right: 1.5rem;
  padding-left: 1rem;
  @media (max-width: 768px) {
    margin-left: 0;
  }

  @media screen and (max-width: 480px) {
    width: 22rem;
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

.Flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.ButtonFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.custom-tooltip {
  position: absolute;
  right: 14rem;
  top: 30rem;
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 3rem;
  letter-spacing: 0.5px;
  height: 9rem;
  width: 14rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../../assets/images/icons/Tooltip.svg");
}
