/* Estilos para el botón ovalado */
.boton-ovalado {
  width: 150px; /* Ancho del botón */
  height: 50px; /* Altura del botón (ajusta según sea necesario) */
  background-color: transparent; /* Color verde claro */
  border: none; /* Sin borde */
  border-radius: 20px; /* Border-radius al 50% para hacerlo ovalado */
  color: white; /* Color del texto */
  text-align: center; /* Centrar el texto horizontalmente */
  line-height: 50px; /* Centrar el texto verticalmente */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  border-color: white;
}

/* Cambiar el color de fondo al pasar el ratón sobre el botón */
.boton-ovalado:hover {
  background-color: #7cb342; /* Color verde claro más oscuro al pasar el ratón */
}
