.liquidity-injection__content {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-top: 3.3rem;
}
.liquidity-injection__inner {
  position: relative;
  width: 100%;
  top: 4rem;
  @media (max-width: 480px) {
  }
}

.SelectDeposit,
.SelectWithdraw {
  position: absolute;
  border-width: 2px;
  border-image: linear-gradient(180deg, rgb(0, 255, 196), rgba(86, 86, 86, 0)) 1;
  border-color: grey;
  color: grey;
  background-image: linear-gradient(
    (106deg, rgba(28, 28, 28, 0) 13.06%, rgba(18, 18, 18, 0.79) 75.37%)
  );
  width: 11.6rem;
  height: 2.8rem;
  text-align: center;
  color: #00ffc4;
  padding: 0.5rem;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  @media (max-width: 480px) {
    width: 8.6rem;
  }

  &.in-active {
    border-image: linear-gradient(180deg, rgb(68, 68, 68), rgba(86, 86, 86, 0))
      1;
    color: grey;
  }
}

.SelectWithdraw {
  right: 2.5rem;
  top: -0.8rem;

  @media (max-width: 480px) {
    top: -1.8rem;
    right: 1.4rem;
  }
  @media (max-width: 400px) {
    top: -1.8rem;
    right: 0.5rem;
  }
}

.SelectDeposit {
  right: 20.9rem;
  top: -0.8rem;
  @media (max-width: 480px) {
    top: -1.8rem;
    right: 14.9rem;
  }
  @media (max-width: 400px) {
    top: -1.8rem;
    right: 13.9rem;
  }
}
