.dapp-banner {
  background: linear-gradient(270deg, #121215 -300%, #000 100%, #1b1b1f 100%);
  height: 292px;
  display: flex;
  justify-content: center;
}

.section-container {
  display: flex;
  justify-content: space-between;
  height: 693px;
  max-width: none !important;
  padding: 0% !important;
  border-top: 1px solid #fff;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .left-section {
    width: 100%;
    background: linear-gradient(90deg, #121215 0%, #000 47.3%, #003327 96.6%),
      #d9d9d9;
    border-right-width: 1px;
    border-right-style: solid;
    border-image: linear-gradient(
        to bottom,
        #747474 0.78%,
        rgba(93, 93, 93, 0) 86.05%
      )
      1 100%;
    display: flex;
    justify-content: right;
    @media (max-width: 768px) {
      height: 40rem;
      width: 100%;
      justify-content: center;
      border-right-width: 0;
    }
  }

  .right-section {
    width: 100%;
    display: flex;
    background: linear-gradient(270deg, #121215 0%, #000 47.3%, #0c1c0b 96.6%),
      #d9d9d9;
    @media (max-width: 768px) {
      height: 50rem;
      width: 100%;
      justify-content: center;
      border-right-width: 0;
    }
  }
}
