@use "@gear-js/ui/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.OutsideContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-top: 3.3rem;
}

.BasicCard {
  border-width: 2px;
  border-image: linear-gradient(141deg, rgb(0, 255, 196), rgba(86, 86, 86, 0)) 1;
  background-image: linear-gradient(
    90deg,
    rgba(28, 28, 28, 0.79),
    rgba(18, 18, 18, 0.79)
  );

  width: 30rem;
  padding: 1.8rem;
  @media screen and (max-width: 480px) {
    width: 22rem;
  }
}

.CardFeature {
  border-width: 1px;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    27deg,
    rgba(18, 18, 18, 0.74) 0%,
    rgba(18, 18, 18, 0.742734593837535) 100%
  );
  border-image: linear-gradient(141deg, rgb(0, 255, 196), #4fff4b) 1;
}

.FundsCard {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 22em;
  padding: 30% 2em;
  box-sizing: border-box;
  $border: 1px;
  color: #fff;
  background: #000;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 1em;

  &:before {
    content: "";
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(
      141deg,
      rgb(0, 255, 196),
      rgba(0, 255, 98, 0.177)
    );
  }
}

.Moduleborderwrap {
  padding: 1rem;
  position: relative;
  background: linear-gradient(
    141deg,
    rgb(0, 255, 196),
    rgba(0, 255, 145, 0.049)
  );
  padding: 1px;
  border-radius: 1em;
}

.module {
  background: linear-gradient(141deg, #1b1b1f, #2f2f37);
  color: white;
  padding: 2rem;
  border-radius: 1em;
}

.modulePositions {
  background-image: url(../../../assets/images/backgrounds/FeaturesBG.svg);
  color: white;
  padding: 2rem;
  border-radius: 1em;
}

.ContainerBorrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 3rem;
  align-items: center;
  width: 30rem;
  margin: auto;

  @media (max-width: 768px) {
    margin-left: 0;
  }

  @media screen and (max-width: 480px) {
    width: 22rem;
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

.BasicCardBorrow {
  position: relative;
  margin-top: 1rem;
  margin-left: 3rem;
  align-self: center;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 15px;
  width: 29rem;
  padding-right: 1.5rem;
  padding-left: 1rem;
  @media (max-width: 768px) {
    margin-left: 0;
  }

  @media screen and (max-width: 480px) {
    width: 22rem;
    margin-left: 0rem;
    margin-top: 1rem;
  }
}
