//FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

//STYLES
@import "../src/components/templates/Dapp/Dapp.scss";
@import "../src/components/templates/Header/Header.scss";
@import "../src/components/organisms/BurgerMenu/BurgerMenu.scss";
@import "../src/components/organisms/SocialMedia/SocialMedia.scss";
@import "../src/components/molecules/ModalBurgerMenu/ModalBurgerMenu.scss";
@import "../src/components/atoms/Flag/Flag.scss";
@import "../src/components/atoms/ApiLoader/ApiLoader.scss";
@import "../src/components/atoms/Loader/Loader.scss";
@import "../src/components//templates//Footer/Footer.scss";
@import "../src/components/atoms/BurgerIcon/BurgerIcon.scss";
@import "../src/components/atoms/Token-Selector/TokenSelector.scss";

#root {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  background: rgb(0, 0, 0);
}

main {
  background: white;
  background-size: 200% 200%;
  animation: gradientAnimation 5s linear infinite;
}

body {
  background: #121215 !important;
  background-size: 200% 200%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
