header {
  display: flex;
  width: 100%;
  height: 6.0625rem;
  padding: 2.0625rem 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 9rem;
  flex-shrink: 0;
  background-color: #1b1b1f;
  @media screen and (max-width: 480px) {
    gap: 0px;
  }

  img {
    display: flex;
    width: 10.125rem;
    height: 2.3125rem;
    padding: 0.1875rem 0.4375rem 0.125rem 0.25rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .items-container {
    display: flex;
    height: 3.875rem;
    min-width: 930px;
    padding: 0rem 5.5rem;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;

    .item-wrapper {
      display: flex;
      width: 166px;
      padding: 12px 16px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .item,
      .item-active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        width: fit-content;
        padding: 0.25rem 1rem;
        p {
          color: #fff;
          font-family: "Montserrat";
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .item-active {
        border-bottom: 1px solid #4fff4b;
      }
    }
  }
}
